In [24]:
#################################################
# import dependencies
#################################################
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from pandas import DataFrame
import pandas as pd
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc, distinct, MetaData, Table
from flask import Flask, jsonify, render_template
from config import password

In [25]:
#################################################
# Database Setup
#################################################
# create engine 
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/mlb_db')

In [26]:
# Establisting a connection to our database
conn = engine.connect()

In [27]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [28]:
#Tables printed out
Base.classes.keys()

['all_data']

In [29]:
print(engine.table_names())

['all_data']

In [30]:
all_data = pd.read_sql("select * from all_data", conn)
all_data.head()

team = pd.read_sql("select team_name, (sum(batting_avg)/count(batting_avg)) from all_data group by team_name", conn)
team_data_ba = team.rename(columns={"?column?": "Team_ba"})
team_data_ba.head()

               team_name   Team_ba
0         Detroit Tigers  0.234627
1      Chicago White Sox  0.255963
2   Washington Nationals  0.258451
3          Miami Marlins  0.234074
4  Philadelphia Phillies  0.239568

In [31]:
#################################################
# Flask Setup
#################################################
app = Flask(__name__)

In [32]:
#################################################
# Flask Routes
#################################################
@app.route("/")
def welcome():
    """List all available api routes."""
    return (
        f"Available Routes:<br/>"
        f"/api/v1.0/data<br/>"
        f"/api/v1.0/data_ba_day<br/>"
        f"/api/v1.0/data_ba_night<br/>"
        f"/api/v1.0/data_era_day<br/>"
        f"/api/v1.0/data_era_night<br/>"
    )

In [33]:
@app.route("/api/v1.0/data")
def data():
    # Create our session (link) from Python to the DB
    session = Session(engine)

    # Query all three columns of data
    data = pd.read_sql("SELECT batting_avg, earn_run_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team", conn)

In [34]:
@app.route("/api/v1.0/data_ba_day")
def data_ba_day():
    # Create our session (link) from Python to the DB
    session = Session(engine)
    
    # Query batting average for day games only
    data_ba_day = pd.read_sql("SELECT batting_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team WHERE day_night = 'd'", conn)

In [35]:
@app.route("/api/v1.0/data_ba_night")
def data_ba_night():
    # Create our session (link) from Python to the DB
    session = Session(engine)   
    
    # Query batting average for night games only
    data_ba_night = pd.read_sql("SELECT batting_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team WHERE day_night = 'n'", conn)
    
    
    
@app.route("/api/v1.0/data_era_day")
def data_era_day():
    # Create our session (link) from Python to the DB
    session = Session(engine)   
    
    # Query ERA for day games only    
    data_era_day = pd.read_sql("SELECT earn_run_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team WHERE day_night = 'd'", conn)

In [36]:
   
@app.route("/api/v1.0/data_era_night")
def data_era_night():
    # Create our session (link) from Python to the DB
    session = Session(engine)   
    
    # Query ERA for night games only     
    data_era_night = pd.read_sql("SELECT earn_run_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team WHERE day_night = 'n'", conn)

In [38]:
@app.route("/api/v1.0/data_era_night")
def data_era_night():
    # Create our session (link) from Python to the DB
    session = Session(engine)   
    
    # Query ERA for night games only     
    data_era_night = pd.read_sql("SELECT earn_run_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team WHERE day_night = 'n'", conn)

AssertionError: View function mapping is overwriting an existing endpoint function: data_era_night

In [77]:
# @app.route("/team_ba")
# def team_ba():
#     # Create our session (link) from Python to the DB
session = Session(engine)

    # Query all earn_run_avg for day games only
# results = session.query(all_data.team_name, ((sum(all_data.batting_avg))/func.count(all_data.batting_avg)).filter(all_data.team_name).all())

results = pd.read_sql("SELECT team_name, (sum(batting_avg)/count(batting_avg)) from all_data group by team_name", conn)
print(results)                        
    # Close session
# session.close()

#     # Create a dictionary from the row data and append to list era_day_list
#     era_day_list = []
#     for earn_run_avg, day_night in results:
#         era_day_dict = {}
#         era_day_dict["earn_run_avg"] = earn_run_avg
#         era_day_dict["day_night"] = day_night
#         era_day_list.append(era_day_dict)
    
#     # Return a JSON list of earn_run_avg for day games only
#     return jsonify(era_day_list)

                team_name  ?column?
0          Detroit Tigers  0.234627
1       Chicago White Sox  0.255963
2    Washington Nationals  0.258451
3           Miami Marlins  0.234074
4   Philadelphia Phillies  0.239568
5          Houston Astros  0.267691
6       Oakland Athletics  0.243043
7        San Diego Padres  0.232691
8           New York Mets  0.252296
9        Seattle Mariners  0.230704
10      Cleveland Indians  0.243549
11      Baltimore Orioles  0.241247
12           Chicago Cubs  0.247142
13      Milwaukee Brewers  0.242580
14        Cincinnati Reds  0.238198
15       Colorado Rockies  0.260759
16     Pittsburgh Pirates  0.259556
17     Kansas City Royals  0.242494
18    Los Angeles Dodgers  0.252093
19         Atlanta Braves  0.252679
20         Tampa Bay Rays  0.249895
21          Texas Rangers  0.242006
22   San Francisco Giants  0.233296
23       New York Yankees  0.262309
24   Arizona Diamondbacks  0.245272
25    St. Louis Cardinals  0.240457
26        Minnesota Twins  0.263704
27     Los Angeles Angels  0.241494
28      Toronto Blue Jays  0.229185
29         Boston Red Sox  0.263710