In [1]:
#################################################
# import dependencies
#################################################
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from pandas import DataFrame
import pandas as pd
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc, distinct, MetaData, Table
from flask import Flask, jsonify, render_template
from config import password

In [2]:
#################################################
# Database Setup
#################################################
# create engine 
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/mlb_db')

In [3]:
# Establisting a connection to our database
conn = engine.connect()

In [4]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
#Tables printed out
Base.classes.keys()

['all_data']

In [6]:
print(engine.table_names())

['all_data']

In [9]:
all_data = pd.read_sql("select * from all_data", conn)
all_data.head()

,game_id,game_date,team_name,venue,batting_avg,earn_run_avg,game_outcome,game_number,visiting_team,home_team,game_day,day_night,double_header
0,43544-SEA@OAK-1,2019-03-20,Seattle Mariners,Neutral,0.226,6.00,win,1,Seattle Mariners,Oakland Athletics,Wed,n,no
1,43544-SEA@OAK-1,2019-03-20,Oakland Athletics,Neutral,0.257,9.00,lose,1,Seattle Mariners,Oakland Athletics,Wed,n,no
2,43545-SEA@OAK-1,2019-03-21,Seattle Mariners,Neutral,0.209,2.25,win,1,Seattle Mariners,Oakland Athletics,Thu,n,no
3,43545-SEA@OAK-1,2019-03-21,Oakland Athletics,Neutral,0.217,3.75,lose,1,Seattle Mariners,Oakland Athletics,Thu,n,no
4,43552-ARI@LAD-1,2019-03-28,Los Angeles Dodgers,Home,0.343,5.00,win,1,Arizona Diamondbacks,Los Angeles Dodgers,Thu,d,no

In [10]:
#################################################
# Flask Setup
#################################################
app = Flask(__name__)

In [11]:
#################################################
# Flask Routes
#################################################
@app.route("/")
def welcome():
    """List all available api routes."""
    return (
        f"Available Routes:<br/>"
        f"/api/v1.0/data<br/>"
        f"/api/v1.0/data_ba_day<br/>"
        f"/api/v1.0/data_ba_night<br/>"
        f"/api/v1.0/data_era_day<br/>"
        f"/api/v1.0/data_era_night<br/>"
    )

In [12]:
@app.route("/api/v1.0/data")
def data():
    # Create our session (link) from Python to the DB
    session = Session(engine)

    # Query all three columns of data
    data = pd.read_sql("SELECT batting_avg, earn_run_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team", conn)

In [13]:
@app.route("/api/v1.0/data_ba_day")
def data_ba_day():
    # Create our session (link) from Python to the DB
    session = Session(engine)
    
    # Query batting average for day games only
    data_ba_day = pd.read_sql("SELECT batting_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team WHERE day_night = 'd'", conn)

In [14]:
@app.route("/api/v1.0/data_ba_night")
def data_ba_night():
    # Create our session (link) from Python to the DB
    session = Session(engine)   
    
    # Query batting average for night games only
    data_ba_night = pd.read_sql("SELECT batting_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team WHERE day_night = 'n'", conn)
    
    
    
@app.route("/api/v1.0/data_era_day")
def data_era_day():
    # Create our session (link) from Python to the DB
    session = Session(engine)   
    
    # Query ERA for day games only    
    data_era_day = pd.read_sql("SELECT earn_run_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team WHERE day_night = 'd'", conn)

In [15]:
   
@app.route("/api/v1.0/data_era_night")
def data_era_night():
    # Create our session (link) from Python to the DB
    session = Session(engine)   
    
    # Query ERA for night games only     
    data_era_night = pd.read_sql("SELECT earn_run_avg, day_night FROM stats JOIN day_night ON stats.game_date = day_night.game_date AND stats.game_number = day_night.game_number AND stats.visiting_team = day_night.visiting_team WHERE day_night = 'n'", conn)